$white: #fff;
$black: #000000;
$darken: #33313b;
$primary: #0275d8;
$secondary: #6c757d;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition) {
  -moz-transition: all $transition ease;
  -o-transition: all $transition ease;
  -webkit-transition: all $transition ease;
  -ms-transition: all $transition ease;
  transition: all $transition ease;
}

@mixin gradient-background() {
  background: rgba(32, 124, 229, 1);
  background: -moz-linear-gradient(45deg, rgba(32, 124, 229, 1) 0%, rgba(19, 212, 42, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(32, 124, 229, 1)), color-stop(100%, rgba(19, 212, 42, 1)));
  background: -webkit-linear-gradient(45deg, rgba(32, 124, 229, 1) 0%, rgba(19, 212, 42, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(32, 124, 229, 1) 0%, rgba(19, 212, 42, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(32, 124, 229, 1) 0%, rgba(19, 212, 42, 1) 100%);
  background: linear-gradient(45deg, rgba(32, 124, 229, 1) 0%, rgba(19, 212, 42, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#207ce5', endColorstr='#13d42a', GradientType=1);
}

.login-wrap {
  position: relative;
  color: rgba(255, 255, 255, .9);

  h3 {
    font-weight: 300;
    color: $white;
  }

  .social {
    width: 100%;

    a {
      width: 100%;
      display: block;
      border: 1px solid rgba(255, 255, 255, .4);
      color: $black;
      background: $white;

      &:hover {
        background: $black;
        color: $white;
        border-color: $black;
      }
    }
  }
}

.field-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .9);
}

.signin-form {
  .form-group {
    position: relative;

    //BUTTON
    .btn {
      cursor: pointer;
      @include border-radius(40px);
      box-shadow: none !important;
      font-size: 15px;
      text-transform: uppercase;
      line-height: 37px;

      &:hover,
      &:active,
      &:focus {
        outline: none;
      }

      &.btn-primary {
        background: $primary !important;
        border: 1px solid $primary !important;
        color: $black !important;

        &:hover {
          border: 1px solid $white !important;
          background: transparent;
          color: $white !important;
        }

        &.btn-outline-primary {
          border: 1px solid $primary;
          background: transparent;
          color: $primary;

          &:hover {
            border: 1px solid transparent;
            background: $primary;
            color: $white;
          }
        }
      }

      &.btn-white {
        background: $white !important;
        border: 1px solid $black !important;
        color: $black !important;

        &:hover {
          border: 1px solid $primary !important;
          background: transparent;
          color: $primary !important;
        }

        &.btn-outline-secondary {
          border: 1px solid $secondary;
          background: transparent;
          color: $black;

          &:hover {
            border: 1px solid transparent;
            background: $primary;
            color: $white;
          }
        }
      }
    }

    //FORM CONTROL
    .form-control {
      background: transparent;
      border: none;
      height: 50px;
      color: rgba(255, 255, 255, 1) !important;
      border: 1px solid transparent;
      background: rgba(160, 160, 160, 0.5) !important;
      border-radius: 40px;
      padding-left: 20px;
      padding-right: 20px;
      @include transition(.3s);

      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, .8) !important;
      }

      &::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255, 255, 255, .8) !important;
      }

      &:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(255, 255, 255, .8) !important;
      }

      &:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255, 255, 255, .8) !important;
      }

      &:hover,
      &:focus {
        background: transparent;
        outline: none;
        box-shadow: none;
        border-color: rgba(255, 255, 255, .4);
      }

      &:focus {
        border-color: rgba(255, 255, 255, .4);
      }
    }

    textarea.form-control {
      height: inherit !important;
    }
  }
}

//CHECKBOX STYLE
.checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "\f0c8";
  font-family: "FontAwesome";
  position: absolute;
  color: rgba(255, 255, 255, .1);
  font-size: 20px;
  margin-top: -4px;
  @include transition(.3s);
}

/* Show the checkmark when checked */
.checkbox-wrap {
  input:checked~.checkmark:after {
    display: block;
    content: "\f14a";
    font-family: "FontAwesome";
    color: rgba(0, 0, 0, .2);
  }
}

.checkbox-primary {
  color: $primary;

  input:checked~.checkmark:after {
    color: $primary;
  }
}
